@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

body {
  margin: 0;
  width: 100%;
  background: #141414;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: absolute; /* დავამატე */
  top: 0;
  left: 0;
  right: 0;
  z-index: 5; /* ყველაზე მაღალი ფენა */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  backdrop-filter: blur(1px);
  max-width: 100%;
  justify-content: space-between;
  left: -1px;
  padding-top: 30px;
  padding-right: 162px;
  padding-bottom: 30px;
  padding-left: 162px;
}

/* logo */
.header_logo img {
  width: 199px;
  height: 60px;
}

/* navbar center */
.buttons_container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-width: 4px;
  border-radius: 12px;
  background: #0f0f0f;
  border: 4px solid #1f1f1f;
}
.buttons_ul {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttons_ul a {
  text-decoration: none;
  color: #bfbfbf;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 24px;
  border-radius: 8px;
  transition: 0.3s;
  display: block;
}

.buttons_ul a:hover {
  color: #ffffff;
}

.buttons_li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;
  gap: 10px;
  border-width: 1px;
  border-radius: 8px;
  background: #1a1a1a;
  border: 1px solid #1a1a1a;
  white-space: nowrap;
}

.home_button {
  width: 50px;
  height: 27px;
  font-family: Manrope;
  font-weight: 500px;
  font-style: Medium;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
.home_button:hover {
  transform: scale(1.05);
}

.Movies_and_shows_button {
  width: 133px;
  height: 27px;
  font-family: Manrope;
  font-weight: 400px;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #bfbfbf;
}
.Movies_and_shows_button:hover {
  transform: scale(1.05);
}

.support_button {
  width: 68px;
  height: 27px;
  font-family: Manrope;
  font-weight: 400px;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #bfbfbf;
}
.support_button:hover {
  transform: scale(1.05);
}

/* right icons */
.zari_div {
  display: flex;
  gap: 30px;
  width: 98px;
  height: 34px;
}

.zari_div img {
  width: 34px;
  height: 34px;
}

/* welcome & form */
.support_welcome {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 0 80px;
  padding-top: 150px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #141414;
  min-height: 100vh;
}

.support_container {
  display: flex;
  gap: 80px;
  max-width: 1597px;
  width: 100%;
  align-items: flex-start;
}

.support_formcontainer {
  flex: 1;
  background: #0f0f0f;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.support_container {
  display: flex;
  gap: 80px;
  max-width: 1597px;
  width: 100%;
}

.support_info {
  width: 533px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.support_textcontent {
  gap: 14px;
  display: flex;
  flex-direction: column;
}

.support_textcontent h1 {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 150%;
  color: #ffffff;
  margin: 0;
}

.support_textcontent p {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  color: #999999;
  margin: 0;
}

.support_imagegrid {
  width: 533px;
  height: 477px;
  border-radius: 12px;
  border-width: 6px;
  background: #0f0f0f;
  border: 6px solid #262626;
  overflow: hidden;
  position: relative;
}

.support_imagegrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.support_formcontainer {
  flex: 1;
  max-width: 976px;
  height: 627px;
  gap: 30px;
  border-radius: 12px;
  padding: 40px;
  background: #0f0f0f;
  border: 1px solid #262626;
  flex-direction: column;
}

.support_form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form_group {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form_group label {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.form_group input,
.form_group textarea,
.phone_input select,
.phone_input input {
  width: 100%;
  padding: 16px;
  background: #141414;
  border: 1px solid #262626;
  border-radius: 8px;
  color: white;
  box-sizing: border-box;
}

.form_group textarea {
  height: 130px;
  resize: none;
}

.phone_input {
  display: flex;
  gap: 10px;
  width: auto;
}

.phone_input select {
  min-width: 75px;
  max-width: 75px;
  height: 67px;
  background: #141414;
  border: 1px solid #262626;
  border-radius: 8px;
  color: white;
  padding: 0;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone_input select option {
  background: #141414;
  color: white;
  font-size: 16px;
}

.phone_input input {
  max-width: 303px;
  height: 67px;
  background: #141414;
  border: 1px solid #262626;
  border-radius: 8px;
  padding: 20px;
  color: #999999;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.form_row .form_group input[type="email"] {
  height: 67px; /* რომ ნომრის სიმაღლეს გაუთანაბრდეს */
}

.form_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.checkbox_group {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #999999;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.send_btn {
  background: #e50000;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.send_btn:hover {
  background: #ff0000;
}

/* free trial */

.freetrial_container {
  position: relative;
  width: 80%;
  max-width: 1596px;
  min-height: 313px;
  margin: 100px auto;
  gap: 100px;
  border-radius: 12px;
  padding-top: 100px;
  padding-right: 80px;
  padding-bottom: 100px;
  padding-left: 80px;
  background: #0f0f0f;
  border: 1px solid #262626;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.free_trial_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.free_trial_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #0f0f0f 0%,
    rgba(15, 15, 15, 0.8) 50%,
    rgba(15, 15, 15, 0) 100%
  );
  z-index: 2;
}

.freetrial_content {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.freetrial_text {
  flex: 1;
}

.freetrial_text h2 {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0 0 14px 0;
}

.freetrial_text p {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
}

.freetrial_button {
  gap: 10px;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 24px;
  padding-bottom: 18px;
  padding-left: 24px;
  background: #e50000;
  width: 140px;
  height: 27px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  display: inline-block;
  text-align: center;
}
.freetrial_button:hover {
  transform: scale(1.05);
}

/* footer */
.footer {
  width: 100%;
  max-width: 1920px;
  min-height: 505px;
  top: 5013px;
  padding: 80px 0; /* მხოლოდ ზემოთ და ქვემოთ */
  gap: 100px;
  background: #0f0f0f;
  border-top: 1px solid #262626;
  margin-top: 100px;
  box-sizing: border-box;
}

.footer_container {
  width: 80%;
  max-width: 1596px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.footer_top {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.footer_column {
  display: flex;
  flex-direction: column;
  gap: 12px; /* დაშორება ლინკებს შორის */
  width: auto; /* წაშალე 241px */
}

.footer_column a {
  gap: 14px;
  width: 241px;
  height: 27px;
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
  display: flex;
  flex-direction: column; /* ლინკები ჩამოწერილია ვერტიკალურად */
  text-decoration: none;
  transition: 0.3s;
}

.footer_column a:hover {
  color: #ffffff;
}

.footer_column h4 {
  width: 241px;
  height: 30px;
  font-family: Manrope;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
  margin: 0;
}

.social_icons {
  width: 196px;
  height: 56px;
  display: flex;
  gap: 14px;
}

.social_item {
  width: 56px;
  height: 56px;
  gap: 10px;
  border-radius: 8px;
  border-width: 1px;
  padding: 16px;
  background: #1a1a1a;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social_item img {
  width: 24px;
  height: 24px;
}

.social_item:hover {
  background: #262626;
}

.footer_line {
  width: 100%;
  height: 1px;
  max-width: 1596px;
  background-color: #262626;
  border: none;
}

.footer_bottom {
  width: 100%;
  max-width: 1596px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.footer_bottom p {
  width: auto;
  height: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
  white-space: nowrap;
  margin: 0;
}

.footer_linebottom {
  width: 27px;
  height: 0px;
  border-width: 1px;
  border: 1px solid #262626;
  width: 1px;
  height: 20px; /* ხაზის სიმაღლე */
  background-color: #262626;
  display: inline-block;
}

.footer_legal {
  width: auto;
  height: auto;
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer_legal a {
  color: #999999;
  text-decoration: none;
  white-space: nowrap;
}
